<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	Issues:
    <table>
	    <tr>
		    <th>Title</th>
		    <th>Description</th> 
		    <th>Date Added</th>
		    <th>UserId</th>
		  </tr>
    	<tr th:each="issue:${issues}">
		     <td th:text="${issue.title}"></td>
		     <td th:text="${issue.description}"></td>
		     <td th:text="${issue.dateAdded}"></td>
		     <td th:text="${issue.user!=null?issue.user.id:''}"></td>
		     <td><a th:href="@{/issues/} + ${issue.id} + @{/edit}">Edit</a></td>
		     <td>
		     	<form th:method="POST" action="#" th:object="${issue}" th:action="@{/issues/} + ${issue.id}+@{/delete}">
		    		<input type="submit" value="Delete"/>
				</form>	
			</td>
		</tr>
		
	</table>
    <form th:method="GET" action="#" th:object="${text}" th:action="@{/issues/filterJpa?text=} + ${text}">
		    		<input type="text" name="text" th:object="${text}"/>
		    		<input type="submit" value="Filter"/>
				</form>	

</body>
</html>
